<mat-nav-list>
  <div class="profile-card">
      <div class="header">
          <h2>Pranith Singh</h2>
          <h4>pranit.singh@aa.com </h4>
      </div>
      <!-- <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL"> -->
  </div>

  <mat-divider></mat-divider>


  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Create gate</a>


  <mat-divider></mat-divider>

</mat-nav-list>
